@model List<Blog.Web.Models.Domain.Tag>

@{
	ViewData["Title"] = "ADMIN - Show Tags";
}
<div class="text-center">
	<div class="container">
		<h1 class="display-4">@ViewData["Title"]</h1>
	</div>
</div>



<div class="container">
	@if (Model != null && Model.Any())
	{
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Display Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var tag in Model)
				{
					<tr>
						<td>@tag.Id</td>
						<td>@tag.Name</td>
						<td>@tag.DisplayName</td>
						<td><a asp-area="" asp-controller="AdminTags"
							asp-action="Edit"
							asp-route-id="@tag.Id">Edit</a></td>
					</tr>
				}
			</tbody>
		</table>
	}
	else
	{
		<p>No tags were found!</p>
	}
</div>
<div class="container">
	<a class="btn btn-dark btn-sm" role="button" asp-area="" asp-controller="AdminTags" asp-action="Add">Add Tag</a>
</div>